<!DOCTYPE html>
<html>
<header>
	<link rel="stylesheet" type="text/css" href="css/randomCategory.css">
</header>
<body>
	<div class="box">
		<form action="/games" method="get">
				<input class="cancelar" type="submit" value=" X ">
		</form>
		{{#hist_art}}
			{{#historia}}
				<p>Categoria Aleatoria:</p>
				<div><img src="img/historia.png"></div>
			{{/historia}}
			{{#arte}}
				<p>Categoria Aleatoria:</p>
				<div><img src="img/arte.png"></div>
			{{/arte}}
		{{/hist_art}}
		{{#cie_ent}}
			{{#ciencia}}
				<p>Categoria Aleatoria:</p>
				<div><img src="img/ciencia.png"></div>
			{{/ciencia}}
			{{#entretenimiento}}
				<p>Categoria Aleatoria:</p>
				<div><img src="img/entretenimiento.png"></div>
			{{/entretenimiento}}
		{{/cie_ent}}
		{{#dep_geo}}
			{{#deportes}}
				<p>Categoria Aleatoria:</p>
				<div><img src="img/deporte.png"></div>
			{{/deportes}}
			{{#geografia}}
				<p>Categoria Aleatoria:</p>
				<div><img src="img/geo.png"></div>
			{{/geografia}}
		{{/dep_geo}}

		<h1>{{category}}</h1>
		<form action="/questions" method="get">
			<input type="hidden" name="category" value="{{category}}">
			<input type="hidden" name="category_id" value="{{category_id}}">
			<input type="hidden" name="game_id" value="{{game_id}}">
			<input class="jugar" type="submit" value="Jugar">
		</form>		
	</div>
</body>
</html>