<!DOCTYPE html>
<html>
<header>
	
</header>
<body>

	<h1>Categoria Aleatoria ... {{category}}</h1>
	<form action="/questions" method="get">
	<input type="hidden" name="category" value="{{category}}">
	<input type="hidden" name="category_id" value="{{category_id}}">
	<input type="submit" value="Jugar">
</form>
</body>
</html>