*{
	margin:0px;
	padding:0px;
}

body{
	background-image: url("../img/fondo.jpg");
	background-size: 95%;
	color: #CCCCCC;
	text-align: center;
}
h1{
	font-family: "purisa";
	text-shadow: 1px 0px 0px #000;
}

input[type="submit"]{
	background-color: #30A6C4;
	color: #fff;
	border: none;
	padding:10px;
	font-family: "Arial";
}
input[type="submit"]:hover{
	background-color: #0F547F;
	color: #fff;
	border: none;
	padding:10px;
}

form{
	align-content: center;
	background-color:rgba(250,250,250,0.2);
	width:20%;
	padding:10px;
	position: relative;
		left:40%;
		top:10px; 

}
