**{
	margin:0;
	padding:0;
}

body{
	background-image: url("/img/fondo.jpg");
	background-size: 100%;
	font-size: 15px;
	text-align:center;
	color:#fff;
}
input[class="cancelar"]{
	color:#fff;
	font-size: 2em;
	background: #BD1A1A;
	border:none;
	border-radius: 30px;
	padding: 5px;
	margin: 10px;
	position: relative;
		left:45%;
}
input[class="cancelar"]:hover{
	color:#fff;
	background: #F21616;
	border:none;
	border-radius: 30px;
	padding: 5px;
	margin: 10px;
	position: relative;
		left:45%;
}
div[class="caja"]{
	width: 50%;
	background: rgba(0,0,0,0);
	margin: 40px;
	border-radius: 20px;
	position: relative;
		left: 20%;
}
div[class="box"]{
	background: rgba(0,0,0,.7);
	padding: 40px;
	margin: 20px;
	text-align: left;
	border-bottom-left-radius: 40px;
	border-bottom-right-radius: 40px;
	position: relative;
		bottom: 30px;
}

h1{
	background: #000;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	padding: 20px;
	margin: 20px;
}



