**{
	margin:0;
	padding:0;
}

body{
	background-image: url("/img/fondo.jpg");
	background-size: 100%;
	font-size: 15px;
	text-align:center;
	color:#fff;
}
input[class="cancelar"]{
	color:#fff;
	font-size: 2em;
	background: #BD1A1A;
	border:none;
	border-radius: 30px;
	padding: 5px;
	margin: 10px;
	position: relative;
		left:45%;
}
input[class="cancelar"]:hover{
	color:#fff;
	background: #F21616;
	border:none;
	border-radius: 30px;
	padding: 5px;
	margin: 10px;
	position: relative;
		left:45%;
}
div[class="box"]{
	width: 50%;
	background: rgba(0,0,0,.3);
	margin: 40px;
	border-radius: 20px;
	position: relative;
		left: 20%;
}
h1{
	background: #000;
	border-radius: 30px;
	padding: 10px;
	margin: 10px;
	width: 40%;
	position: relative;
		left: 28%;
}


h2{
	background: #000;
	border-radius: 30px;
	padding: 10px;
	margin: 10px;
	width: 30%;
	position: relative;
		left: 32%;
}

input[class="jugar"]{
	color:#fff;
	background: #FF8000;
	border:none;
	border-radius: 30px;
	padding: 5px;
	margin: 10px;
	font-size: 2em;
}
input[class="jugar"]:hover{
	color:#fff;
	background: #FFBF00;
	border:none;
	border-radius: 30px;
	padding: 5px;
	margin: 10px;
	font-size: 2em;
}
