<!DOCTYPE html>
<html>
<header>
	
</header>
<body>
	<h1>  {{correct}}</h1>
	<form action="/play" method="post">
		<input type="submit" value="Seguir">
		<input type="hidden" name="game_id" value="{{game_id}}">	
	</form>
</body>
</html>