<!DOCTYPE html>
<html>
<header>
	<link rel="stylesheet" type="text/css" href="css/finalizedGame.css">
</header>
<body>
	<div class="caja">
		<h1>{{user}}, finalizaste esta partida!</h1>
		<h2>Respuestas correctas: {{Co_ans}}</h2>
		<h2>Respuestas incorrectas: {{In_ans}}</h2>
		<div class="img"> <img src="img/win.png"></div>
		<form action="/games" method="get">
			<input class="b1" type="submit" value="SEGUIR JUGANDO">
		</form>
	</div>
</body>
</html>