<!DOCTYPE html>
<html>
<head>
<title></title>
</head>
<body>
<h1></h1>
<form action="/newGame" method="post">
<input type="submit" value="Nuevo Juego">
</form>
<form action="/play" method="post">
<input type="submit" value="Jugar">
</form>
</body>
</html>
