<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="css/gameHome.css">
</head>
<body>
	
		<form action="/newGame" method="get">
			<input class="nuevoJuego" type="submit" value="Nuevo Juego">
		</form>
	<div class="bloque">
		
		<div class="img">
			<img src="img/vidas.png" width="30">
		</div>
		<p> {{lives}} </p>

		<br><br>
		
		<div class="img2">
			<img src="img/arte.png" width="100">
		</div>

		
		<div class="bloque2">
			<form >
				<h4>Lista Juegos Pendientes:</h4>
				<ul>
					{{#games}}
					<div class="cajas">
						<li> 
							<h3>Juego:{{state}}</h3> 
							<form action="/play" method="post">
								<input class="jugar" type="submit" value="Jugar">
							</form>
						</li>
					</div>
					{{/games}}
				</ul>
			</form>
		</div>
	</div>
</body>
</html>
