<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="css/gameHome.css">
</head>
<body>
	<div class="bloque">
		<div class="img">
			<img src="img/vidas.png" width="30">
		</div>
		<p> {{lives}} </p>

		<form action="/newGame" method="post">
			<input class="nuevoJuego" type="submit" value="Nuevo Juego">
		</form>

		<br><br><br>
		<div class="bloque2">
				<h4>Lista Juegos Pendientes:</h4>
				<ul>
					{{#games}}
					<div class="cajas">
						<li> 
							<h3>Juego:{{state}}</h3> 
							<form action="/play" method="post">
								<input class="jugar" type="submit" value="Jugar">
								<input type="hidden" name="game_id" value="{{id}}">
							</form>
						</li>
					</div>
					{{/games}}
				</ul>
		</div>
		
	</div>
</body>
</html>
