<!DOCTYPE html>
<html>
<body>
<form action="/games" method="post">
  Nickname:<br>
  <input type="text" name="nickname">
  <br>
  Password:<br>
  <input type="text" name="password">
  <br><br>
	<input type="submit" value="Entrar">
</form> 
</body>
</html>