<!DOCTYPE html>
<html>

<header>
    <link rel="stylesheet" type="text/css" href="../css/new.css">
</header>

<body>
  <br>
  <br>
  <form action="/users" method="post">
    <h1>Registrarse</h1>
    <br>
    Nickname:<br>
    <input type="text" name="nickname">
    <br>
    Password:<br>
    <input type="password" name="password">
    <br>
    Email:<br>
    <input type="email" name="Email">
    <br><br>
    <input type="submit" value="Registrarse">
  </form> 
  <img src="../img/personajes.png" width="50%">
</body>
</html>