<!DOCTYPE html>
<html>
<body>

<form action="/users" method="post">
  Nickname:<br>
  <input type="text" name="nickname">
  <br>
  Password:<br>
  <input type="text" name="password">
  <br><br>
  <input type="submit" value="Submit">
</form> 

<p>Welcome to pregunta2!</p>

</body>
</html>