<!DOCTYPE html>
<html>
<header>
	<link rel="stylesheet" type="text/css" href="css/question.css">
</header>
<body>
	<div class="bloque">
		<form action="/games" method="get">
			<input class="cancelar" type="submit" value=" X ">
		</form>

		<h2>{{category}}</h2>
		<br>
		<h1>{{Question}}</h1>
		
		<div class="bloque2">
			<p>
				<form action="/answer?question={{answer1}}" method="post">
				<input type="submit" value="{{answer1}}">
				<input type="hidden" name=quest_id value="{{quest.id}}">
				<input type="hidden" name="game_id" value="{{game_id}}">	
				</form>
			</p>

			<p>
				<form action="/answer?question={{answer2}}" method="post">
				<input type="submit" value="{{answer2}}">
				<input type="hidden" name=quest_id value="{{quest.id}}">	
				<input type="hidden" name="game_id" value="{{game_id}}">	
				</form>
			</p>

			<p>
				<form action="/answer?question={{answer3}}" method="post">
				<input type="submit" value="{{answer3}}">
				<input type="hidden" name=quest_id value="{{quest.id}}">	
				<input type="hidden" name="game_id" value="{{game_id}}">	
				</form>
			</p>

			<p>
				<form action="/answer?question={{answer4}}" method="post">
				<input type="submit" value="{{answer4}}">
				<input type="hidden" name=quest_id value="{{quest.id}}">	
				<input type="hidden" name="game_id" value="{{game_id}}">	
				</form>
			</p>	

		</div>

		<div>
			<img src="img/pregunta2.png">
		</div>		
	</div>
	

</body>
</html>